body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background-color: #ecf0f1;
}

main {
  flex: 1 0 auto;
}

.nav-wrapper .fa-bars{
  font-size:25px;
}

footer{
  margin-top:20px;
}

.logo-img {
  max-height: 64px !important;
  padding: 15px 0 !important;
}

.dash-status{
  text-transform: capitalize;
}

#delete-form{
  display:inline;
}