<div class="card">
  <div class="card-content">
    <h1 class="center">Welcome</h1>
    <p class="center">Welcome to TrueStory 1.0.0</p>
    <p class="center">TrueStory is an app that is basically about short stories, stories that can be funny, motivational
      etc.</p>
    <p class="center">Please note that this is still under construction</p>
    
    
    <p class="center"> - Jabulani Setaka</p>
    <div class="center">
      {{#if user}}
      {{else}}
      <a class="btn red darken-1" href="/auth/google"><i class="fa fa-google left"></i> Login With Google</a>
      {{/if}}
    </div>
  </div>
</div>